@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext);
@font-face {
  font-family: AA-Neon;
  src: url('../fonts/AANeon.ttf') format('truetype');
}
@font-face {
  font-family: AvertaCY-Regular;
  src: url('../fonts/AvertaCYRegular.otf') format('truetype');
}
@font-face {
  font-family: AvertaCY-Bold;
  src: url('../fonts/AvertaCYBold.otf') format('truetype');
}